<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
<name replace-wildcards="yes">%h maglab_rp_info</name>
<service>
<type>_http._tcp</type>
<port><1003></port>
</service>
</service-group>